body {
    background-color: darkgreen;
    font-family: impact, sans-serif;
    background: url('../images/greenbackdrop.png') center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
header {
    background-color: darkgreen;
    font-family: impact, sans-serif;
    background: url('../images/greenbackdrop2.png') center top;
}
.scratch-link img:hover{
    transition: transform 0.3s ease;
    transform: scale(1.93);
    border: 2px solid white;
    border-radius: 50%;
}
header img:hover{
    transition: transform 2.6s ease;
    transform: scale(1.04);
    transform: rotate(360deg);
}
h1 {
    color: #f0ff00;
    text-align: center;
    font-family: cursive, sans-serif;
    font-size: 2.5em;
    color: #f0ff00;
    margin-bottom: 1rem;
}
h2 {
    color: #f0ff00;
    text-align: center;
} 
h3 {
    color: #f0ff00;
    text-align: center;
}
li {
    color: darkgreen;
    font-size: 16px;
}
img {
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 5px solid green;
}
ul {
    background-color: #f0ff00;
    padding: 20px 40px;
    width: 200px;
    margin: 20px auto;
}
p {
    color: #f0ff00;
    line-height: 1.6;
    display: block;
    text-align: center
}
.scratch-link {
    border: 0px;
    max-width: 100px;
    max-height: 100px;
}
.contact-link {
color: lightgreen;
}
.contact-link:hover {
    color: white;
}
.other-link {
    color: lightgreen;
}
.other-link:hover {
    color: red;
}
footer {
    background-color: green;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
section {
    width: 100%;
}
.nav-bar {
    position: sticky;
    top: 0px;
    display: flex;
    background-color: rgba(0, 43, 33, 0.6);
    z-index: 3;
    font-size: 2.4em;
    color: white;
    text-shadow: 0 0 10px rgba(200, 0, 0, 1);
    justify-content: space-between;
    font-family: times, sans-serif;
    font-weight: 900;
    height: 50px;
    width: 100%;
}
.link {
    font-size: 0.7em;
    color: white;
    line-height: 0;
}
.link2 {
    font-size: 0.64em;
    color: gray;
    text-indent: -20%;
    line-height: 0;
}
.link:hover {
    color: purple;
}
@media (max-width: 770px) {
    .link {
        position: fixed;
        top: 70px;
        right: -100%;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        padding: 2rem;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease;
        gap: 1rem;
    }
}
